<article>
  <header>Employees</header>

  <div class="controls">
    <div>
      <label for="nameFilter">Name Filter</label>
      <input
        id="nameFilter"
        type="text"
        autocomplete="off"
        [formControl]="nameFilter"
      />
    </div>
    <div>
      <label for="sort">Sort By</label>
      <select id="sort" type="text" [formControl]="sort">
        <option value="lastName">Last Name</option>
        <option value="hoursWorked">Hours Worked</option>
      </select>
    </div>
  </div>

  <app-employee-list-table-view
    [list]="(filteredList | async) ?? []"
    [selectedId]="selectedId | async"
    (selectId)="selectedId.next($event)"
  ></app-employee-list-table-view>
</article>

<app-employee-detail-view
  [employee]="(selectedEmployee | async) ?? undefined"
></app-employee-detail-view>
